<%= simple_form_for @group do |f| %>
    <%= f.error_notification %>
    
    <div class="w-100">
        <%= f.input :name_group, label: false, input_html: { placeholder: "Digite o nome do Grupo", class: "input-new-group" } %>
    </div>
   
  
    <div class="w-100">
        <%= f.input :description_group, label: false, input_html: { placeholder: "Adicione uma descrição", class: "input-new-group" } %>
    </div>

   
   


    <hr class="division-line">


    <%= f.button :submit, "SALVAR E CRIAR", class: "btn create-button-new" %>
<% end %>